Api/Connected Services/DmsService/DmsService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService.Messages.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService.Messages.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wa-masterdatadms-t.azurewebsites.net/DmsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://wa-masterdatadms-t.azurewebsites.net/DmsService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService.Messages" />
  <xs:complexType name="Document">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService.Messages" minOccurs="0" name="Indexes" nillable="true" type="q1:ArrayOfArchiveIndex" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService.Messages" minOccurs="0" name="Pages" nillable="true" type="q2:ArrayOfPage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Document" nillable="true" type="tns:Document" />
  <xs:complexType name="ArrayOfDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Document" nillable="true" type="tns:Document" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDocument" nillable="true" type="tns:ArrayOfDocument" />
</xs:schema>