Api/Connected Services/DmsService/DmsService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService.Messages.Request" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService.Messages.Request" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://wa-masterdatadms-t.azurewebsites.net/DmsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService" />
  <xs:import schemaLocation="https://wa-masterdatadms-t.azurewebsites.net/DmsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://wa-masterdatadms-t.azurewebsites.net/DmsService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService.Messages" />
  <xs:import schemaLocation="https://wa-masterdatadms-t.azurewebsites.net/DmsService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService.Messages.Entities" />
  <xs:complexType name="PingRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService" base="q1:RequestBase">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PingRequest" nillable="true" type="tns:PingRequest" />
  <xs:complexType name="GetDocumentByIdRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService" base="q2:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetDocumentByIdRequest" nillable="true" type="tns:GetDocumentByIdRequest" />
  <xs:complexType name="GetDocumentsByIndecesRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q3="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService" base="q3:RequestBase">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService.Messages" minOccurs="0" name="Indeces" nillable="true" type="q4:ArrayOfArchiveIndex" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetDocumentsByIndecesRequest" nillable="true" type="tns:GetDocumentsByIndecesRequest" />
  <xs:complexType name="SaveDocumentRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService" base="q5:RequestBase">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService.Messages.Entities" minOccurs="0" name="Document" nillable="true" type="q6:Document" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SaveDocumentRequest" nillable="true" type="tns:SaveDocumentRequest" />
  <xs:complexType name="UpdateDocumentRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService" base="q7:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService.Messages" minOccurs="0" name="Indexes" nillable="true" type="q8:ArrayOfArchiveIndex" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UpdateDocumentRequest" nillable="true" type="tns:UpdateDocumentRequest" />
  <xs:complexType name="DuplicateDocumentRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService" base="q9:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="ser:guid" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService.Messages" minOccurs="0" name="Indexes" nillable="true" type="q10:ArrayOfArchiveIndex" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DuplicateDocumentRequest" nillable="true" type="tns:DuplicateDocumentRequest" />
</xs:schema>