Api/Connected Services/DmsService/DmsService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://Ced.DocumentArchive.DmsService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DmsService" targetNamespace="http://Ced.DocumentArchive.DmsService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IDmsService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="true" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://Ced.DocumentArchive.DmsService/Imports">
      <xsd:import schemaLocation="https://wa-masterdatadms-t.azurewebsites.net/DmsService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://wa-masterdatadms-t.azurewebsites.net/DmsService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://wa-masterdatadms-t.azurewebsites.net/DmsService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService.Messages.Request" />
      <xsd:import schemaLocation="https://wa-masterdatadms-t.azurewebsites.net/DmsService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService" />
      <xsd:import schemaLocation="https://wa-masterdatadms-t.azurewebsites.net/DmsService.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService.Messages.Response" />
      <xsd:import schemaLocation="https://wa-masterdatadms-t.azurewebsites.net/DmsService.svc?xsd=xsd5" namespace="http://Ced.DocumentArchive.DmsService" />
      <xsd:import schemaLocation="https://wa-masterdatadms-t.azurewebsites.net/DmsService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService.Messages.Entities" />
      <xsd:import schemaLocation="https://wa-masterdatadms-t.azurewebsites.net/DmsService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Ced.DocumentArchive.DmsService.Messages" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDmsService_Ping_InputMessage">
    <wsdl:part xmlns:q1="http://tempuri.org/" name="parameters" element="q1:Ping" />
  </wsdl:message>
  <wsdl:message name="IDmsService_Ping_OutputMessage">
    <wsdl:part xmlns:q2="http://tempuri.org/" name="parameters" element="q2:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IDmsService_GetDocumentById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentById" />
  </wsdl:message>
  <wsdl:message name="IDmsService_GetDocumentById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IDmsService_GetDocumentsByIndeces_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentsByIndeces" />
  </wsdl:message>
  <wsdl:message name="IDmsService_GetDocumentsByIndeces_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDocumentsByIndecesResponse" />
  </wsdl:message>
  <wsdl:message name="IDmsService_SaveDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocument" />
  </wsdl:message>
  <wsdl:message name="IDmsService_SaveDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDmsService_UpateDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:UpateDocument" />
  </wsdl:message>
  <wsdl:message name="IDmsService_UpateDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpateDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IDmsService_DuplicateDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:DuplicateDocument" />
  </wsdl:message>
  <wsdl:message name="IDmsService_DuplicateDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:DuplicateDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="IDmsService">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="Ping" message="tns:IDmsService_Ping_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IPingService/PingResponse" message="tns:IDmsService_Ping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentById">
      <wsdl:input wsaw:Action="http://Ced.DocumentArchive.DmsService/IDmsService/GetDocumentById" message="tns:IDmsService_GetDocumentById_InputMessage" />
      <wsdl:output wsaw:Action="http://Ced.DocumentArchive.DmsService/IDmsService/GetDocumentByIdResponse" message="tns:IDmsService_GetDocumentById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsByIndeces">
      <wsdl:input wsaw:Action="http://Ced.DocumentArchive.DmsService/IDmsService/GetDocumentsByIndeces" message="tns:IDmsService_GetDocumentsByIndeces_InputMessage" />
      <wsdl:output wsaw:Action="http://Ced.DocumentArchive.DmsService/IDmsService/GetDocumentsByIndecesResponse" message="tns:IDmsService_GetDocumentsByIndeces_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveDocument">
      <wsdl:input wsaw:Action="http://Ced.DocumentArchive.DmsService/IDmsService/SaveDocument" message="tns:IDmsService_SaveDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://Ced.DocumentArchive.DmsService/IDmsService/SaveDocumentResponse" message="tns:IDmsService_SaveDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpateDocument">
      <wsdl:input wsaw:Action="http://Ced.DocumentArchive.DmsService/IDmsService/UpateDocument" message="tns:IDmsService_UpateDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://Ced.DocumentArchive.DmsService/IDmsService/UpateDocumentResponse" message="tns:IDmsService_UpateDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DuplicateDocument">
      <wsdl:input wsaw:Action="http://Ced.DocumentArchive.DmsService/IDmsService/DuplicateDocument" message="tns:IDmsService_DuplicateDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://Ced.DocumentArchive.DmsService/IDmsService/DuplicateDocumentResponse" message="tns:IDmsService_DuplicateDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDmsService" type="tns:IDmsService">
    <wsp:PolicyReference URI="#BasicHttpBinding_IDmsService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Ping">
      <soap:operation soapAction="Ping" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentById">
      <soap:operation soapAction="http://Ced.DocumentArchive.DmsService/IDmsService/GetDocumentById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocumentsByIndeces">
      <soap:operation soapAction="http://Ced.DocumentArchive.DmsService/IDmsService/GetDocumentsByIndeces" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveDocument">
      <soap:operation soapAction="http://Ced.DocumentArchive.DmsService/IDmsService/SaveDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpateDocument">
      <soap:operation soapAction="http://Ced.DocumentArchive.DmsService/IDmsService/UpateDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DuplicateDocument">
      <soap:operation soapAction="http://Ced.DocumentArchive.DmsService/IDmsService/DuplicateDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DmsService">
    <wsdl:port name="BasicHttpBinding_IDmsService" binding="tns:BasicHttpBinding_IDmsService">
      <soap:address location="https://wa-masterdatadms-t.azurewebsites.net/DmsService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>